
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@font-face {
  font-family: 'Gin';
  src: url('./GinTest-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Mrs Eaves';
    src: url('./Mrs-Eaves-OT-Roman_31443.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    width: 100%;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  
}

html::before {
    content: '';
    background-image: url(./img/gabby-conde-sP33SU9vX0k-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.work {
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.life {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.joy {
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

h1 {
    font-family: 'gin', serif;
    font-size: 80px;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 20px;
    opacity: 90%;
    color: #004D1A;
    align-self: center;
  
}

button {
    border: hidden;
    background-color: #891D5D;
    font-size: 20px;
    color: white;
    padding: 10px;
    font-family:'Mrs Eaves';;
    
}

#text {
    padding-top: 10px;
}

li {
    font-family: 'Caveat', cursive;
    font-weight: lighter;
    font-size: 23px;
    display:flex;
    align-items: center;

    
}

ul {
    list-style: none;
}


.checked {
    text-decoration: line-through;
    
  }

.checkbox {
    width: 15px;
   
   
}
/* .checkbox:checked::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
} */
/* .checked .checkbox:checked {
    appearance: none;
    background: #fff
    
} */

input[type = "checkbox"]{
    
    accent-color: #b98d9a ;
    
}


h3 {
    font-family: 'Mrs Eaves';
    font-weight: lighter;
    font-size: 35px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

h4 {
    font-family: 'Mrs Eaves';
    font-size: 20px;
    font-weight: lighter;
}
input {
    font-family: 'Mrs Eaves';
    width: 200px;
    height: 40px;
    font-size: 20px;
}
form {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1160px){
    h1 {
        
        grid-area: 1/1/1/span 3;
        font-size: 70px;
        padding-left: 10px;
        padding-right: 10px;
       
    }
}


@media screen and (max-width: 1000px){

    html::before {
        background-size: cover;
        
        
    }
    
    .work {
        grid-row-start: 2;
        grid-column-start: 2;
        
    }
    
    .life {
        grid-row-start: 3;
        grid-column-start: 2;
        

    }
    
    .joy {
        grid-row-start: 4;
        grid-column-start: 2;
        
    }

    h1 {
        
        font-size: 60px;   
    }

    button {
        padding: 15px;
        font-size: 12px;
        
    }
}