
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@font-face {
  font-family: 'Krysttal Spears';
  src: url('./Krysttal\ Spears\ Free.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  
}

html::before {
    content: '';
    background-image: url(./img/gabby-conde-sP33SU9vX0k-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.work {
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.life {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.joy {
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

h1 {
    font-family: 'Krysttal Spears';
    font-size: 80px;
    margin-left: 20px;
    margin-top: 20px;
    opacity: 90%;
    color: #004D1A;
    align-self: center;
  
}

button {
    border: hidden;
    background-color: #891D5D;
    font-size: 16px;
    color: white;
    padding: 10px;
    font-family: 'Encode Sans', sans-serif;
    justify-self: center;
}
   

li {
    font-family: 'Caveat';
    font-size: 23px;
}

h3 {
    font-family: 'Caveat';
    font-size: 35px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

h4 {
    font-family: 'Encode Sans', sans-serif;
}
input {
    font-family: 'Caveat', cursive;
    width: 200px;
    height: 40px;
    font-size: 20px;
}
form {
    display: flex;
    justify-content: center;
}

#work-enter,
#life-enter,
#joy-enter {
    margin-top: 10px;
}
@media screen and (max-width: 1000px){

    html::before {
        background-size: cover;
        
        
    }
    
    .work {
        grid-row-start: 2;
        grid-column-start: 2;
        
    }
    
    .life {
        grid-row-start: 3;
        grid-column-start: 2;
        

    }
    
    .joy {
        grid-row-start: 4;
        grid-column-start: 2;
        
    }

    h1 {
        
        grid-area: 1/1/1/span 3;
        font-size: 60px;
        padding-left: 10px;
        padding-right: 10px;
       
    }

    button {
        padding: 15px;
        font-size: 12px;
        
    }
}